.App {
  text-align: center;
}

h1 {
  color: rgb(53 172 176);
  text-decoration: underline;
}
.grid {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  font-size: 1.2rem;
  padding-top: 1rem;
}

input {
  width: 17rem;
  height: 1.8rem;
  font-size: 1.2rem;
  outline: none;
  border: solid 1px rgb(53 172 176);
  border-radius: 4px;
}

button {
  font-size: 1rem;
  background-color: rgb(74 155 158);
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:focus,
button:hover {
  background-color: rgb(53 172 176);
}

.input-range {
  width: 4rem;
  height: 1.3rem;
}

.score-btn {
  margin-left: 1.3rem;
  height: 1.5rem;
}
